<div class="boss"> 

    <div class="tile is-ancestor">
        <div class="tile is-parent is-4 avatar">
            <div class="tile is-child center">
                <img id="fy" src="https://i.imgur.com/jU7TQB3.jpg" alt="">

                <p>  
                    <h1 class="title">けんりん Ryan</h1>
                    <h6 class="intro"> 
                    外語を学ぶことに情熱を持っています。２０１８年から私が空いた時間を利用して、日本語を自学自習しました。２０１９年、日本語の勉強を始めるから一年半後。私が日本語能力試験を参加し、合格しました。N1レベルの認定書を頂きました、その後テレビで通訳を務めました。私が日本語を中国語にやくしまして、報道番組に提供しました。日本のニュースをフォローアップして来ました。
                    　
                    </h6>
                    <div class="section icon">
                        <%= link_to "https://line.me/ti/p/I7Jjglzj2d" do %>
                        <i class="fab fa-line line"></i>
                        <% end %>
                        <%= link_to "mailto:geographicpenguin@gmail.com" do %>
                        <i class="fas fa-envelope email"></i>
                        <% end %>
                    </div>

                </p>
            </div>
        </div>

        <div class="tile is-vertical  is-parent is-8 detail">
                <div class="tile is-child">  
                        <h1 class="title center has-text-primary">スキル</h1>
                        
                        <div class="has-text-primary is-size-4">語学力:</div> 
                        <table class="table is-fullwidth tableone">
                          <thead>
                            <tr>
                              <th>外語</th>
                              <th>レベル</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>中国語</td>
                            <td>母語</td>
                          </tr>
                          <tr>
                            <td>日本語</td>
                            <td>N1認定書</td>
                          </tr>
                          <tr>
                          <td>英語</td>
                          <td>トーイック８１０点</td>
                        </tr>
                        </table>
                </div>
                
                <div class="tile is-child"> 

                        <div class="has-text-primary is-size-4">ITスキル:
                        </div>
                        <table class="table is-fullwidth tabletwo">
                          <thead>
                            <tr>
                              <th>フロントエンド</th>
                              <th>ツール</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>html</td>
                            <td>[VSC]</td>
                          </tr>
                          <tr>
                            <td>css</td>
                            <td>[bulma][scss]</td>
                          </tr>
                          <tr>
                            <td>js</td>
                            <td>[jQuery]</td>
                          </tr>
                          <thead>
                            <tr>
                              <th>バックエンド</th>
                              <th>ツール</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>ruby on rails</td>
                            <td>[WSL2]</td>
                          </tr>
                          <tr>
                            <td>git</td>
                            <td>[gitHub]</td>
                          </tr>

                        </table>




 
                </div>
            </div>
        </div>


        <hr>

        <div class="columns is-vcentered">
          <div class="column is-5 ">
            <figure class="image is-16by9">
              <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/0kXekbcQgcw" frameborder="0" allowfullscreen></iframe>
            </figure>
          </div>
          <div class="column king">
            <h1 class="title center real has-text-primary">翻訳経験</h1>
            <h1 class="is-size-5 has-text-left" class="example">
                台湾有名な女子アナウンサー<strong>陳雅琳</strong>さん
                担当している番組<strong>ひとつのスタイル</strong>が２０１９年の時に日本に行きました。
                番組が本州と四国で撮影したり町の住民たちへの訪問をしました。
                私がこの番組字幕の日中翻訳を委託されました。
                訪問をうけた日本の方の話を中国母語話者も受け入れる言葉に訳して、
                スムーズに日中翻訳をしました。
            </h1>
          </div>
        </div>
    <hr>

    <div class="columns">
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/VgaSJUMU1Xg" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">新型コロナの感染が日本で拡大する</p>
        <p>キャンセルとか延期とか　２０２０五輪見えない未来</p>
      </div>
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/iyHxQ4Uc5co" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">日本がオリンピックへの歴史思い</p>
        <p>２０２０五輪日程調整による日本経済への影響</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/0XPut5iFzqQ" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">もっとも厳しい決断</p>
        <p>感染症が世界中で拡散しており　東京五輪延期決めた</p>
      </div>
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/HewUKh4Yw4g" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">新型コロナ日常生活への影響</p>
        <p>日本経済への悪い影響</p>
      </div>
    </div>

    <hr>


    </div>