<div class="boss"> 

    <div class="tile is-ancestor">
        <div class="tile is-parent is-4 avatar">
            <div class="tile is-child center">
                <img id="fy" src="https://i.imgur.com/jU7TQB3.jpg" alt="">

                <p>  
                    <h1 class="title">Ryan</h1>
                    <h6 class="intro">

                    I have a passion for language learning and I decided to use my free time to learn japanese in 2018.
                    I participated  in my first time Japanese language ability test after about one and half year since I'd started this challenge.
                    Luckily everything turned out good.
                    I had my Japanese N1 certification in the first try.
                    After that I started to work as a Japanese translator in a Taiwan TV station.
                    I provide instant translations from Japanese to chinese for TV news or special programs.
                    </h6>
                    <div class="section icon">
                        <%= link_to "https://line.me/ti/p/I7Jjglzj2d" do %>
                        <i class="fab fa-line line"></i>
                        <% end %>
                        <%= link_to "mailto:geographicpenguin@gmail.com" do %>
                        <i class="fas fa-envelope email"></i>
                        <% end %>
                    </div>

                </p>
            </div>
        </div>

        <div class="tile is-vertical  is-parent is-8 detail">
                <div class="tile is-child">  
                        <h1 class="title center has-text-primary">Skill</h1>
                        
                        <div class="has-text-primary is-size-4">Foreign language:</div> 
                        <table class="table is-fullwidth tableone">
                          <thead>
                            <tr>
                              <th>language</th>
                              <th>level</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>Chinese</td>
                            <td>native speaker </td>
                          </tr>
                          <tr>
                            <td>Japanese</td>
                            <td>N1 certification</td>
                          </tr>
                          <tr>
                          <td>English</td>
                          <td>Toeic 810</td>
                        </tr>
                        </table>
                </div>
                
                <div class="tile is-child"> 

                        <div class="has-text-primary is-size-4">Computer skill:
                        </div>
                        <table class="table is-fullwidth tabletwo">
                          <thead>
                            <tr>
                              <th>frontend</th>
                              <th>tool</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>html</td>
                            <td>[VSC]</td>
                          </tr>
                          <tr>
                            <td>css</td>
                            <td>[bulma][scss]</td>
                          </tr>
                          <tr>
                            <td>js</td>
                            <td>[jQuery]</td>
                          </tr>
                          <thead>
                            <tr>
                              <th>backend</th>
                              <th>tool</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>ruby on rails</td>
                            <td>[WSL2]</td>
                          </tr>
                          <tr>
                            <td>git</td>
                            <td>[gitHub]</td>
                          </tr>

                        </table>




 
                </div>
            </div>
        </div>


        <hr>

        <div class="columns is-vcentered">
          <div class="column is-5 ">
            <figure class="image is-16by9">
              <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/0kXekbcQgcw" frameborder="0" allowfullscreen></iframe>
            </figure>
          </div>
          <div class="column king">
            <h1 class="title center real has-text-primary">
            Translation experience</h1>
            <h1 class="is-size-5 has-text-left" class="example">
                <strong> Ms. Chen </strong> is a famous Taiwan announcer.
                She hosts a TV program named <strong> one type of styles </strong>.
                Ms. Chen and her team visited Japan crossing from Honshu into Shikoku in 2019.
                They interviewed native residents leaving in small towns of Japan.
                I had the honor to take on the role of subtitle translator for the special program.
                I translated colloquial Japanese to Chinese sentences which were more easy to read by audiences.
            </h1>
          </div>
        </div>
    <hr>

    <div class="columns">
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/VgaSJUMU1Xg" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">Coronavirus outbroke in Japan</p>
        <p>2020 Tokyo Olympic counter challenges</p>
      </div>
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/iyHxQ4Uc5co" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">History reason for Japan's love for Olympic </p>
        <p>2020 Tokyo Olympic postponed or cancelled could cause tremendous impact on Japan Economy</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/0XPut5iFzqQ" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">The final decision</p>
        <p>overwhelmed by global epidemic</p>
      </div>
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/HewUKh4Yw4g" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">Virus changed people's lives</p>
        <p>COVID-19 damaged Economy of Japan</p>
      </div>
    </div>

    <hr>


    </div>