<div class="boss"> 

    <div class="tile is-ancestor">
        <div class="tile is-parent is-4 avatar">
            <div class="tile is-child center">
                <img id="fy" src="https://i.imgur.com/jU7TQB3.jpg" alt="">

                <p>  
                    <h1 class="title">王建崙 Ryan</h1>
                    <h6 class="intro">對語言抱有熱誠，利用閒餘時間自修日文，一年半後首度挑戰日語能力試驗，順利獲得日語能力檢定N1證書，擁有一年的日文編譯實務經驗，提供電視新聞以及節目的日中翻譯，長期追蹤日本新聞快訊。
                    </h6>
                    <div class="section icon">
                        <%= link_to "https://line.me/ti/p/I7Jjglzj2d" do %>
                        <i class="fab fa-line line"></i>
                        <% end %>
                        <%= link_to "mailto:geographicpenguin@gmail.com" do %>
                        <i class="fas fa-envelope email"></i>
                        <% end %>
                    </div>

                </p>
            </div>
        </div>

        <div class="tile is-vertical  is-parent is-8 detail">
                <div class="tile is-child">  
                        <h1 class="title center has-text-primary">工作技能</h1>
                        
                        <div class="has-text-primary is-size-4">語言能力:</div> 
                        <table class="table is-fullwidth tableone">
                          <thead>
                            <tr>
                              <th>語言</th>
                              <th>程度</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>日語</td>
                            <td>N1</td>
                          </tr>
                          <tr>
                            <td>英語</td>
                            <td>多益810分</td>
                          </tr>
                        </table>
                </div>
                
                <div class="tile is-child"> 

                        <div class="has-text-primary is-size-4">資訊能力:
                        </div>
                        <table class="table is-fullwidth tabletwo">
                          <thead>
                            <tr>
                              <th>前端技術</th>
                              <th>工具</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>html</td>
                            <td>[VSC]</td>
                          </tr>
                          <tr>
                            <td>css</td>
                            <td>[bulma][scss]</td>
                          </tr>
                          <tr>
                            <td>js</td>
                            <td>[jQuery]</td>
                          </tr>
                          <thead>
                            <tr>
                              <th>後端技術</th>
                              <th>工具</th>
                            </tr>
                          </thead>
                          <tr>
                            <td>ruby on rails</td>
                            <td>[WSL2]</td>
                          </tr>
                          <tr>
                            <td>git</td>
                            <td>[gitHub]</td>
                          </tr>

                        </table>




 
                </div>
            </div>
        </div>


        <hr>

        <div class="columns is-vcentered">
          <div class="column is-5 ">
            <figure class="image is-16by9">
              <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/0kXekbcQgcw" frameborder="0" allowfullscreen></iframe>
            </figure>
          </div>
          <div class="column king">
            <h1 class="title center real has-text-primary">翻譯經驗</h1>
            <h1 class="is-size-5 has-text-left" class="example">
            台灣新聞主播<strong>陳雅琳</strong>老師，所主持的專題節目<strong>有一種Style</strong>，在2019年時造訪日本，實地訪問日本小鎮居民，進行拍攝報導，足跡從日本本州橫跨到四國，我有榮幸為陳雅琳老師的節目承接文字翻譯工作，為接受訪談的日本居民，將口語化的日文翻譯成中文母語者習慣的語句，進行流暢的日中翻譯。
            </h1>
          </div>
        </div>
    <hr>

    <div class="columns">
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/VgaSJUMU1Xg" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">疫情重創日本</p>
        <p>2020東京奧運恐生變</p>
      </div>
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/iyHxQ4Uc5co" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">日本奧運歷史情懷</p>
        <p>2020東京奧運取消或延期都將衝擊經濟</p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/0XPut5iFzqQ" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">最艱難的決定</p>
        <p>東京奧運難敵全球疫情</p>
      </div>
      <div class="column is-3">
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" src="https://www.youtube.com/embed/HewUKh4Yw4g" frameborder="0" allowfullscreen></iframe>
        </figure>
      </div>
      <div class="column">
        <p class="has-text-primary">疫情影響生活</p>
        <p>新型冠狀病毒疫情衝擊日本經濟</p>
      </div>
    </div>

    <hr>


    </div>