// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#fy { 
    width: 200px;
    height:200px;
    border-radius: 100px;
    margin-bottom: 20px;
}
.boss {width:94%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Yu Gothic;
}


.center {text-align: center;} 
.line{margin-right: 10px;font-size: 200%;}
.fab fa-line {font-size: 200%;}
.email{margin-right: 10px;font-size: 200%;}
.icon{display:inline-block;}
.example{font-size: 200%;}
.ability{margin-top: 20px;}

.avatar{background-color:#F0EEF1;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.detail{margin-top: 20px;}
.servicedown{margin-top: 10px;}
.tableone{margin-top: 20px;}
.tabletwo{margin-top: 20px;}
.king{margin-top: auto;
margin-bottom: auto;}
.king{margin-top: 0px;}
.intro{ padding-left: 50px;
    padding-right: 50px;}